/**{
  font-family: 'Roboto', sans-serif;
  padding-top: 1%;
}
.column-66 {
  float: left;
  width: 66.66666%;
  padding: 10px;
}

.column-33 {
  float: left;
  width: 33.33333%;
  padding: 10px;
}

  .historyclass{
    height: 300px;
    width: 50%;


}
.row{
  padding-top: 2%;

}*/
